<!-- AJfriendSelector -->
<link rel="stylesheet" href="css/AJfriendSelector.css" />
<div class="hide" id="fs-overlay"></div>
<div class="hide" id="fs-dialog-box-wrap">
    <div id="fs-dialog-box-bg-n" class="fs-dialog-box-bg"></div>
    <div id="fs-dialog-box-bg-ne" class="fs-dialog-box-bg"></div>
    <div id="fs-dialog-box-bg-e" class="fs-dialog-box-bg"></div>
    <div id="fs-dialog-box-bg-se" class="fs-dialog-box-bg"></div>
    <div id="fs-dialog-box-bg-s" class="fs-dialog-box-bg"></div>
    <div id="fs-dialog-box-bg-sw" class="fs-dialog-box-bg"></div>
    <div id="fs-dialog-box-bg-w" class="fs-dialog-box-bg"></div>
    <div id="fs-dialog-box-bg-nw" class="fs-dialog-box-bg"></div>
    <div id="fs-dialog-box-content">
        <div class="fs-color-default" id="fs-dialog">
            <h2 id="fs-dialog-title">
                <span></span>
            </h2>
            <div id="fs-filter-box">
                <div id="fs-input-wrap">
                    <input type="text" title="Enter a friend's name" id="fs-input-text">
                    <a id="fs-reset" href="javascript:{}" name="fs-reset">Reset</a>
                </div>
            </div>
            <div id="fs-user-list">
                <ul></ul>
            </div>
            <div id="fs-filters-buttons">
                <div id="fs-filters">
                    <a id="fs-show-selected" href="javascript:{}" name="fs-show-selected">
                        <span>Show Selected</span>
                    </a>
                </div>
                <div id="fs-dialog-buttons">
                    <a class="fs-button" id="fs-submit-button" href="javascript:{}" name="fs-submit-button">
                        <span>Send</span>
                    </a>
                    <a class="fs-button" id="fs-cancel-button" href="javascript:{}" name="fs-cancel-button">
                        <span>Cancel</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- AJfriendSelector end -->
